@import "../styles/variables";

.hero {
  display: flex;
  align-items: center;

  @media (max-width: $mobile) {
    align-items: start;
  }

  justify-content: center;
  min-height: 100vh;
  background: url("/src/assets/hero3.png") no-repeat center center/cover;
  @media (max-width: $mobile) {
    background-color: #181818;

    background-position: bottom -115px right 20%;
  }
  position: relative; // Ensure relative positioning for proper stacking context

  &__content {
    text-align: center;
    color: $light-grey;
    padding: 2rem;
    @media (max-width: $mobile) {
      padding: 1rem;
    }

    @media (min-width: $mobile) {
      position: relative;
      z-index: 10; // Ensure it sits above the blurred background
      background: rgba(50, 50, 50, 0.2); // Semi-transparent
      backdrop-filter: blur(5px);
      border-radius: 10px;
      box-shadow: 0px 4px 15px rgba(190, 190, 190, 0.3);
      text-align: center;
    }

    &__title {
      font-family: "Inria Serif", serif;
      font-size: 3rem;
      color: $orange;
    }

    &__subtitle {
      font-family: "Nunito", sans-serif;
      font-size: 1.5rem;
      color: $grey;
      margin: 1rem 0;
    }

    &__cta {
      padding: 0.8rem 1.5rem;
      border: none;
      border-radius: 50px;
      background: linear-gradient(90deg, #caaa86, #736e6e);
      color: rgba(255, 255, 255, 0.9);
      opacity: 0.8;
      font-size: 1rem;
      font-family: "Nunito", sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 1;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}
